data/mgsm
data/mmlu*
data/xcopa
data/CMB*
Data/data/mgsm
Data/data/mmlu*
Data/data/xcopa
Data/data/CMB*
api_key.py
__pycache__
*/__pycache__
*/*/__pycache__
run_gemma_experiments.sh
run_gemma_multiagent.sh
xlm-roberta*
Data/translated

result/challenge_training_data/